:root {
  --nat-navbar-bg: rgb(0, 0, 139); /* Dark blue or customize as needed */
  --nat-navbar-bg-rgb: 0, 0, 139;
  --nat-navbar-text-color: white;
  --nat-navbar-highlight-text: khaki;
}

html,
body {
  --bs-light-rgb: 236, 236, 236;

  /* Override Bootstrap dark theme colors with custom variables */
  --bs-dark: var(--nat-navbar-bg);
  --bs-dark-rgb: var(--nat-navbar-bg-rgb);

  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;

  background: url('/background.jpg') no-repeat center center fixed;
  background-size: cover;
}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

/* Footer text color */
footer,
footer a {
  color: var(--nat-navbar-text-color);
}

/* Override Bootstrap navbar colors */
body .navbar {
  --bs-navbar-active-color: var(--nat-navbar-highlight-text);
  --bs-navbar-brand-color: var(--nat-navbar-text-color);
  --bs-navbar-brand-hover-color: var(--nat-navbar-highlight-text);
  --bs-navbar-color: var(--nat-navbar-text-color);
  --bs-navbar-hover-color: var(--nat-navbar-highlight-text);
}

/* Dropdown text inside dark navbar */
.bg-dark a.dropdown-item {
  color: var(--nat-navbar-bg);
}